df -P File | tail - Quantity | cut -d Regex -f Number
find Path -type Type -maxdepth Quantity ! -name Regex -printf Format
find Path -nogroup
find Path --help
mkdir Directory
cat $(which Regex)
du -s File | read Regex
mv File File -b -S Regex
find Path -mindepth Quantity -maxdepth Quantity -name Regex
tree -F Directory | sed -r Program
find Path -ctime Timespan -print
find Path -name Regex -exec rm -r -f File \;
find Path -user Regex -iname Regex
read -e -p Regex -i Regex Regex
find Path -name Regex
join <(sort -n File) <(sort -n File)
sed -n Program File
find Path -ls -name Regex
find Path -newer File
find Path -type Type -ctime Timespan
find Path -type Type -size Size
find Path -mtime Timespan -exec rm -r -f File \;
df File | awk Program
find Path -not -name Regex -not -name Regex -not -name Regex
find Path -newer File
split -l Quantity File Regex
od -A Option -N File -t Type File
read -e -p Regex Regex
set | grep -o -P Regex | grep Regex
find Path -name Regex -exec awk Program Program \;
find Path -atime Timespan
find Path -name Regex | sed Program | sh
find Path -name Regex
find | xargs -I ReservedWord ls ReservedWord
find Path -mindepth Quantity -exec mv -t Directory File +
find Path -name Regex -type Type -daystart -mtime Timespan -mtime Timespan
find Path -name Regex -exec grep Regex File File \;
find Path \( -user Regex -or -name Regex \) -print
find Path -name Regex
echo Regex | grep -E -o Regex | cut -d Regex -f Number
tail -n Quantity File | split -l Quantity File Regex
find Path -not -path Regex -type Type \( ! -iname Regex \)
mount -n -o Option -t Option Regex Regex
find Path -name Regex
find Path -name Regex -print0
find Path -type Type -links Quantity
set -a
echo Regex | tr -d Regex
ls -i File | cut -d Regex -f Number
find Path -type Type \( -iname Regex -and -perm Permission \)
find Path $(pwd) -name Regex -exec dirname Regex \;
find Path -name Regex
find Path -ctime Timespan -print
sed -e Program -e Program -e Program -e Program
find Path -type Type -printf Format | cut -f Number -d Regex | sort -n -r
comm -2 -3 File File
find Path -name Regex -printf Format
ssh-keygen -f File -R Regex
whoami
find Path -name Regex -type Type -print0 | xargs -0 -I ReservedWord grep -i Regex ReservedWord
find Path -type Type -print
find Path -name Regex -prune -or -print0 | xargs -0 -I ReservedWord chown Regex ReservedWord
find Path -perm Permission
find Path -mtime Timespan -type Type -exec ls -l File \;
find Path -iname Regex
mkdir Directory
find Path -maxdepth Quantity -empty -exec echo Regex \;
sed Program
find Path -type Type -size Size -exec ls -l -h File \; | awk Program
find Path -type Type -print0 | xargs -0 -I ReservedWord chmod Permission ReservedWord
read -n Quantity Regex
find Path -name Regex -exec ls -l -a File +
seq -w Number
find Path -type Type -newer File
find Path -type Type -exec chmod Permission File +
find Path -type Type -perm Permission
find Path -name Regex -type Type -print0 | xargs -0 -I ReservedWord rm -f ReservedWord
find Path -type Type -ls
date Format
find Path -maxdepth Quantity -type Type \( ! -name Regex -and ! -name Regex -and ! -name Regex -and ! -name Regex \) -delete
find Path -name Regex -print0 | xargs -0
find Path -mtime Timespan -name Regex -print
ping -c Quantity -n Regex | awk -F Regex -v Program Program
find Path -type Type -perm Permission
env | grep Regex
comm -2 -3 File File
find Path -gid Regex -exec chown -h Regex File \;
find -L Path -type Type -delete -exec ln -s File Regex \;
cat File | sort -r
find Path -type Type -maxdepth Quantity -empty -delete
ls -l -R File | tee File
od -t Type -A Option File | head
chown Regex File
find Path -group Regex
find Path ! -perm Permission -exec chmod Permission File \;
find Path -type Type -name Regex -delete
seq Number | sed Program | awk -v Program Program
date Format
find Path Path -type Type -exec chmod Permission File \;
find Path -depth -type Type -empty -exec rmdir Directory \;
find Path -type Type -name Regex -exec awk Program Program +
mkdir -p Directory
find Path -name Regex -exec sed -i Program File \;
find Path -type Type
find Path -name Regex | xargs -I ReservedWord grep Regex ReservedWord
find Path -regex Regex
seq Number Number | sort -R | head -n Quantity
find Path -iname Regex -exec cp -r File File \;
find Path -name Regex -print0 | xargs -0 -I ReservedWord mv -t Directory ReservedWord
history | tail -n Quantity
read -n Quantity -p Regex Regex
zcat Regex | sed -n Program
find Path -name Regex
find Path -type Type -size Size
find Path -print0 | xargs -0 -I ReservedWord file ReservedWord
find Path -name Regex | xargs -I ReservedWord grep -E Regex ReservedWord
od | cut -b Number | xargs -n Quantity | sort | uniq | wc -l
find Path | grep -E -v Regex | sort
find Path -mtime Timespan -print
date Format Format
grep --include=Regex -r -n -w Regex -e Regex
find Path -print | wc -l
cat File | tr -d -c Regex | fold -w Quantity | head -n Quantity | xargs -I ReservedWord mkdir ReservedWord
find Path -size Size
find Path \( -name Regex -or -name Regex \)
find Path -type Type -exec grep -H -i Regex File +
mkdir Directory Directory
find Path -type Type -printf Format | grep -w Regex
find Path -type Type -size Size -print | xargs -I ReservedWord rm ReservedWord
find Path -type Type -exec chmod Permission File \;
find Path -maxdepth Quantity -type Type -name Regex -delete -or -name Regex -delete
find Path -printf Format
find Path Path Path -name Regex -type Type
chmod Permission File
split File
history | sed Program
find Path -type Type -mtime Timespan
find Path -maxdepth Quantity -type Type
find Path -name Regex | xargs -I ReservedWord ls -l -r -t ReservedWord | awk Program
find Path -type Type -perm Permission -print -exec chmod Permission File \;
find Path -type Type \( -name Regex -or -name Regex \)
find Path -xtype Type
find Path -iname Regex
find Path -name Regex -exec rm File \;
find Path -name Regex -print -exec rm File \;
find Path -name Regex -exec wc -l File \;
find Path -type Type -depth Path -perm Permission | sort -r
find Path -nouser -or -nogroup
who | awk Program | sort | uniq -c | sort -n
ls -d File
find Path -size Size
nl -v Quantity File
grep Regex File | wc -l
find Path Path -name Regex -type Type -exec chmod Permission File \;
touch -t $(date Format) File
find Path -type Type -print
comm -3 <(sort File) <(sort File) | sed Program
find Path -name Regex
find Path -mmin Quantity
find Path -empty
find Path -mindepth Quantity -type Type -empty -delete
cd
find Path -maxdepth Quantity -name Regex | tail
who
find Path
$(mktemp)
find Path -type Type -name Regex -prune -or -print
find Path -maxdepth Quantity -type Type -exec ls -d -l -r -t File \; | wc --lines
ls -l -R File | tee -a File
find Path -mtime Timespan -name Regex -print
find Path -type Type -name Regex -exec md5sum File + | awk Program | sort | md5sum
cat File
find Path -mtime Timespan
set | more
find Path -type Type \( -iname Regex -or -iname Regex \)
find Path -amin Quantity
find Path -user Regex -exec chown -h Regex File \;
watch -n Quantity cat File
find -P Path -lname Regex
find Path -type Type -name Regex
find Path -name Regex
cat File | grep -i Regex
find Path -type Type -name Regex -execdir tar -c -v -f File File \;
find Path -mmin Quantity | xargs -I ReservedWord ls -l ReservedWord
find Path -type Type -exec cat File \; | tr -c Regex Regex | grep Regex
find Path -mtime Timespan -delete
find Path -anewer File
find Path -type Type -print
find -L Path
touch File
find Path -mmin Quantity
wc $(find | grep Regex)
find Path -type Type \( ! -name Regex \) -print
history -c
find Path -size Size -ls
rsync -P -r -t --size-only File File
find Path -mtime Timespan
echo Regex | read Regex
find Path -type Type -newerct Regex ! -newerct Regex
find Path -perm Permission -perm Permission ! -perm Permission
hostname
chown -R Regex File
echo $(cat File)
find Path -regex Regex
ping Regex | awk Program
tree
find Path -name Regex -prune -and -name Regex -prune -or -name Regex -print
find Path -name Regex -exec ls File \;
find Path -type Type -name Regex
find Path -type Type -iname Regex -exec mv -t Directory File +
gzip -d -c Regex | grep -P --regexp=Regex | split -d -l Quantity File Regex
find Path -atime Timespan -exec ls \; | wc -l
find Path -name Regex | xargs -i -I ReservedWord echo Regex Regex Regex ReservedWord
find Path -mindepth Quantity -printf Format | sort -n -r | cut -d Regex -f Number | tail -n Quantity
find Path -user Regex -maxdepth Quantity -type Type -mtime Timespan -exec basename Regex \; | xargs -I ReservedWord kill - Regex ReservedWord
mkdir Directory
rsync -a -H -v -z File File
find Path -type Type -mtime Timespan | xargs -I ReservedWord tar -c -v -f $(date Format) ReservedWord
sort File | uniq | cut -f Number -d Regex | uniq -c | rev
seq Number Number | sed -n Program
chmod Permission File
find Path -maxdepth Quantity -type Type Path
ifconfig Regex | grep -E -o Regex
find Path -type Type -name Regex -exec dirname Regex +
find Path -mtime Timespan
find Path -type Type -print | sed Program
readlink -e File
find Path -name Regex | xargs -I ReservedWord rm ReservedWord
set | grep Regex | sed Program
echo Regex | sed -e Program | sed -e Program
find Path -type Type ! -perm Permission
find Path -maxdepth Quantity -mtime Timespan -exec gzip -N Regex \;
find Path -name Regex -print0 | xargs -I ReservedWord rm ReservedWord
find Path -name Regex -exec ls File \;
df | grep Regex
find Path -type Type -print | xargs -I ReservedWord grep -i -l Regex ReservedWord
find Path -type Type -mtime Timespan
find Path -type Type -print | xargs -I ReservedWord ls -l -d ReservedWord | awk Program
find Path -name Regex -maxdepth Quantity
find Path -exec grep -i Regex File \;
find Path -type Type -exec grep -H Regex File +
find Path -type Type -name Regex ! -path Regex ! -path Regex
set | grep -A Quantity Regex | grep -m Quantity -B Quantity Regex
find Path -type Type -name Regex
find Path -name Regex -exec chmod Permission File \;
set -e
find Path -name Regex -type Type Path ! -size Size -exec sed -n Program File \; -print
rsync -r -t -u -v File File
$(mktemp Regex)
find Path -name Regex | awk -F Regex Program | sort -t Regex -k Number | cut -d Regex -f Number
ln -s -f File $(which Regex)
split -l Quantity File
find Path -type Type -iname Regex | grep -i -r Regex
mv File File
find Path -name Regex -exec gzip -d Regex \;
find Path -mtime Timespan -print
echo Regex | grep -E --invert-match Regex
find Path -type Type -printf Format | sort -n | tail - Quantity | cut -f Number -d Regex
find Path -size Size -and -size Size
cut -d Regex -f Number
find Path -not -path Regex
tree -f -i
echo $(echo Regex | sort | uniq | wc -l)
grep Regex File | cut -d Regex -f Number | sort | comm -2 -3 File <(sort File)
find Path -name Regex -maxdepth Quantity
find Path -type Type | awk -F Regex Program | awk Program
comm -3 <(sort File) <(sort File)
chgrp Regex File File
column -t File | uniq -w Quantity -c
find Path -name Regex
watch -n Quantity wget -q -O File Regex
ps | tail -n Quantity | sed Program File
mkdir Directory
diff -y -W Quantity File File
find Path -name Regex -exec basename Regex Regex \;
find Path -type Type -printf Format | sort -r -n | head -n Quantity
find Path -maxdepth Quantity -cmin Quantity -name Regex
find Path -name Regex -prune -or -name Regex -type Type -print
find Path -name Regex -prune
find Path -maxdepth Quantity -perm Permission -type Type | sed Program
find Path -iname Regex -print0 | xargs -0 -I ReservedWord rm -r -f ReservedWord
man Regex
find Path ! -name Regex -print
find Path -type Type -printf Format | sort | head - Quantity
find Path -iname Regex -exec cat File \;
find Path -size Size
read -p Regex Regex
find Path -type Type -mtime Timespan -iname Regex
awk -f File Program
find Path Path Path -print | grep -F -f File
find Path -size Size -exec ls -s -h File \;
cat <(grep -v -x -F -f File Regex) <(grep -v -x -F -f File Regex)
apropos Regex Regex Regex
find Path -name Regex -exec grep -m Quantity -i Regex File \;
cat File | sed Program | sed Program | wc -l
find Path -type Type -name Regex -atime Timespan -user Regex
find Path -iname Regex -exec cp File File \;
find Path -mindepth Quantity -type Type
grep -w -v -f File Regex
find Path -type Type
find Path -name Regex -type Type -exec chmod Permission File \;
chmod Permission -R File
date -u -d Regex
find -x Path -inum Quantity
find Path -perm Permission -print
find Path -type Type -regex Regex
join File File | column -t
paste -d Regex >(grep Regex File | sed -e Program) >(grep Regex File | sed -e Program)
find Path -group Regex
find Path -name Regex
find Path -type Type -iname Regex -exec chmod Permission File \;
find Path -atime Timespan
find Path -type Type -not -name Regex
awk Program | sort -n | cut -c Number
find Path -type Type -empty
echo Regex | tail -c Quantity | head -c Quantity
echo Regex Regex Regex Regex Regex Regex Regex | rev | cut -b Number | rev
mount -t Option Regex Regex
find Path -name Regex -exec grep Regex File File \;
find Path \( -iname Regex -or -iname Regex -or -iname Regex \) -ls | awk Program
ln -s File
find Path -newer File -user Regex -print
yes | cat -n | head - Quantity | awk Program
find Path -type Type
find Path -type Type -iname Regex -ls
find -L Path -name Regex -exec rm File \;
history | more
md5sum File
mv File File
find Path -mindepth Quantity -maxdepth Quantity -type Type -mtime Timespan -execdir echo Regex \;
ls -1 | tr Regex Regex | sed Program
shopt -u -o Option
mkdir Directory
read -p Regex -n Quantity -r
echo Regex | tee --append File
find Path -maxdepth Quantity -name Regex | tail
find Path -type Type -exec grep -n -i Regex File File \;
find Path -type Type
ifconfig Regex | grep Regex
echo Regex | awk Program Program Program Program | od -t Type
find Path -type Type -name Regex -print -exec sed -n Program File \;
find Path -regextype Type -regex Regex -fprint File
find Path -maxdepth Quantity \( -name Regex -or -name Regex \) -print
find Path -mmin Quantity -type Type -exec ls -l File +
scp -P Regex File File
find Path -size Size -size Size
echo Regex Regex Regex | xargs -n Quantity -I ReservedWord cp File ReservedWord
find Path -type Type -exec ls -d -l -r -t File \;
echo $(sleep Timespan)
tar -c File | md5sum
sed -i Program File
tac File | sort -u -t Regex -r -k Number | tac
find Path -cmin Quantity
column -t -s Regex File
find Path -name Regex -print0 -or -name Regex -print0 -or -name Regex -print0 | xargs -0 -I ReservedWord sed -i Program File ReservedWord
ls | tr Regex Regex
tree -I Regex
find Path -user Regex
find Path -type Type -name Regex -exec md5sum File +
find Path -iname Regex
find Path Path -name Regex -type Type -print
cat File | wc -l
find Path -name Regex -prune -or -name Regex -prune -or -name Regex -prune -or -print0 | xargs -0 -I ReservedWord grep -I -R Regex ReservedWord
find Path -printf Format
find Path -type Type -mtime Timespan
find Path -type Type -exec chmod Permission File \;
find Path -name Regex
ssh-keygen -l File File -f File
find Path -perm Permission
mkdir Directory | sed -e Program
find Path -name Regex -print0 | xargs -0 -I ReservedWord wc -l ReservedWord
find Path \( -type Type -name Regex -prune \) -or \( -type Type -name Regex -print \)
gunzip -c Regex | grep -f File | sort | uniq -c
who -m
find Path -name Regex -exec wc -c File + | tail -n Quantity
find Path -iname Regex -exec rm -r -f File \;
find Path -type Type
touch -m --date=Regex File
find Path -user Regex -ls
echo Regex | tr -s Regex Regex
find Path -iname Regex -exec du -b File + | awk Program
find Path -iname Regex
source $(dirname $(which Regex))
echo $(basename $(dirname Regex))
cd $(dirname Regex)
mkdir Directory
find Path -name Regex -print0 | xargs -0 -I ReservedWord du -c -h ReservedWord
mount -o Option Regex Regex
find Path -maxdepth Quantity -cmin Quantity -type Type
cat File -n | grep $(whoami) | cut -f Number
chmod Permission $(find Path -type Type -print)
find Path -type Type -not -name Regex | xargs -I ReservedWord rm ReservedWord
find Path -type Type -print | sed -e Program | grep Regex | wc -l
find Path -name Regex | xargs -I ReservedWord cat ReservedWord | awk Program
find Path -name Regex -type Type | xargs -I ReservedWord rmdir ReservedWord
find Path -size Size
find Path -maxdepth Quantity -type Type
find Path Path Path -ok rm File \;
find Path -size Size
find Path -type Type -print0 | xargs -0 -I ReservedWord sed -i Program File ReservedWord
find Path -name Regex -exec rm File \;
find Path -name Regex | xargs -I ReservedWord rm ReservedWord
ls | sed Program | tr -d Regex
find Path -size Size
find Path -name Regex -exec rm -r -f File \;
du -h --max-depth=Quantity File | sort -n -r
echo $(echo Regex) | od -c
find Path -type Type | xargs -I ReservedWord grep -l Regex ReservedWord
kill -s Regex Regex
find Path -name Regex -type Type
find Path ! -perm Permission
find Path -type Type | xargs -I ReservedWord grep -l Regex ReservedWord | cpio -p -V Regex
find Path -newer File
find Path -name Regex ! -path Regex
find Path -mmin Quantity
find Path -name Regex | xargs -r -I ReservedWord ls -l -r -t ReservedWord | awk Program
dig Regex | grep Regex | grep -v Regex | awk Program
find Path -type Type -print0 | xargs -0 -I ReservedWord chmod Permission ReservedWord
find Path
find Path -newer File -ls
find Path -name Regex -maxdepth Quantity -exec mv -t Directory File +
find Path -type Type -name Regex
seq Number Number | sed Program
shopt -p | grep Regex
find Path -type Type -iname Regex -print
find Path -name Regex | xargs -I Regex mv File File
find Path -amin Quantity -amin Quantity
ifconfig Regex | grep -o -E Regex
find Path ! -wholename Regex
find Path -type Type \( -name Regex -or -name Regex \) -print
find Path -regex Regex
mkdir Directory
bind Regex
mkdir Directory
find Path -iname Regex -exec cp File File \;
find Path -size Size
find Path -newerct Regex -print
find Path -type Type -empty
chmod Permission $(find Path -type Type -print)
find Path -mtime Timespan -name Regex -print
find Path | wc -l
find Path | xargs -I Regex basename Regex
find Path -user Regex -name Regex
awk Program Program | column -t
find Path -name Regex
find Path -name Regex
df
find Path -type Type -name Regex -exec chmod Permission File \;
find Path -mtime Timespan -mtime Timespan | head
sort -u File
find Path -mindepth Quantity -maxdepth Quantity -type Type | grep Regex | xargs -n Quantity -I ReservedWord cp -i File ReservedWord
mount Regex Regex -t Option
true | xargs -I ReservedWord false ReservedWord
find Path -amin Quantity -amin Quantity
find Path -mtime Timespan -type Type
find Path -name Regex -type Type
mkdir -p $(seq -f Format Number Number)
find Path -name Regex
chown -R $(whoami) File
cal -h DateTime DateTime | cut -c Number | sed -r Program | sed Program | head -n Quantity | tail -n Quantity
find Path -type Type -empty -exec rmdir Directory \;
read Regex
find Path -name Regex | xargs -I ReservedWord cp -a -v --target-directory=Directory --parents ReservedWord
dig Regex Regex | grep -v Regex | grep Regex
find Path -fstype Type -name Regex
tree -C -s -u
find Path -type Type -name Regex
find Path -name Regex -print0 | xargs -0 -I ReservedWord rm ReservedWord
read -e -p Regex -i Regex Regex
find Path -mindepth Quantity -maxdepth Quantity -type Type
find Path -name Regex -exec dirname Regex \;
find Path -mtime Timespan
find Path -iname Regex
find Path -type Type -print | xargs -I ReservedWord grep -i -l Regex ReservedWord
find Path -maxdepth Quantity -type Type -empty -delete
tac File | awk Program
history -r Quantity
find Path -print -exec touch File \;
grep Regex File | find Path -mmin Quantity
basename Regex
ping Regex -c Quantity | grep -E -o Regex | grep -E -o Regex
chown -R Regex File File File File File
find Path -name Regex -type Type -cmin Quantity | grep Regex | sed Program
find Path -type Type -name Regex -exec sed -i -e Program Program \;
find Path -name Regex | wc -l
find Path -iname Regex | sort
find Path -name Regex
find Path -type Type -name Regex -print0 | xargs -0 -I ReservedWord rename Regex ReservedWord
find Path -newermt Regex -and ! -newermt Regex
find Path -name Regex -print
find Path -xdev -samefile Regex
diff File File -r -x Regex
find Path -type Type -iwholename Regex -exec grep -H Regex File \;
find Path -atime Timespan -type Type -exec mv File File \;
find Path -atime Timespan -print
ls -1 | paste -s -d File File
hostname | cut -d Regex -f Number
paste -d Regex -s File
find Path -type Type -exec chmod Permission File \;
split -n Quantity File
ping -c Quantity -b Regex | grep Regex | awk Program | sort | uniq
read -e -i Regex -p Regex Regex
find Path -type Type | wc -l
find Path -type Type
find Path -path Regex -prune -or -print
tail File
find Path -size Size
echo Regex | od -c
mv File File
find Path -mount -depth -print | cpio -p -d -m Regex
find Path -name Regex -prune -or -type Type -printf Format
find Path -type Type -exec sed -i Program File \;
find Path Path
find Path Path -user Regex -exec chown Regex File \;
join <(sort File) <(sort File) | sort -k Number
find Path -regex Regex
which Regex | xargs -I ReservedWord file ReservedWord
find Path -type Type -user Regex -exec ls -l -s File \;
find Path -depth
find Path -user Regex -type Type
mkdir -p Directory
cat <(grep -F -i -v Regex <(crontab -u Regex -l)) <(echo Regex) | crontab -u Regex File
find Path -type Type -print | xargs -i -I ReservedWord mv -f File File ReservedWord
find Path -name Regex -exec grep -r Regex File \;
find Path -name Regex -exec rm File \;
find Path -mtime Timespan -print
mkdir -p Directory Directory
find Path -type Type
cat File | wc -l
find | sort
comm -1 -2 <(ls File | sort) <(ls File | sort)
source File
ping -c Quantity Regex | grep Regex | grep Regex | awk Program | sed Program
rsync -a -v -z --ignore-existing File File File
find Path -name Regex
ifconfig Regex | awk Program
find Path -maxdepth Quantity -name Regex -prune -or -exec rm -r -f File \;
cat File | xargs -I Regex ln -s File Regex
w | sort
find Path -name Regex
find Path -type Type -ctime Timespan
find Path Path -f -atime Timespan
pstree -s Regex
find Path -path Regex -prune -or -name Regex -print
bzip2 -k -v File
find Path -type Type -and -name Regex | xargs -I ReservedWord rm -r ReservedWord
cat File | xargs -0 -I ReservedWord echo ReservedWord
readlink -m File
tac File | awk Program | tac
find Path -newer File -print
find Path -type Type ! -perm Permission -ls
find Path -name Regex -exec basename Regex \;
diff -r -q File File
find Path -iname Regex | xargs -I ReservedWord grep Regex ReservedWord
find Path -name Regex | grep -v Regex
find Path -name Regex
find Path -type Type -mtime Timespan
find Path -print0 -name Regex | xargs -I Regex -0 mv File File
find Path -user Regex -name Regex
find Path -maxdepth Quantity -mindepth Quantity -type Type -iname Regex -exec rename -n Regex Regex +
find Path ! -name Regex
find Path -user Regex -mtime Timespan
tail -n $(grep -n Regex File | head -n Quantity | cut -d Regex -f Number) File
find Path -name Regex
find Path -lname Regex
chown -R Regex File
find Path -iname Regex ! -path Regex
find Path -name Regex -type Type -print
true | cd Directory
find Path -name Regex -exec chmod Permission File \;
find Path -iname Regex -printf Format | sh
find Path -perm Permission
find Path -name Regex -type Type -prune -or -print
find Path -type Type -print0 | xargs -0 -I ReservedWord ls ReservedWord
shopt -s Option
find Path -type Type -exec grep Regex File File +
find Path | xargs -I ReservedWord file ReservedWord
find Path -mtime Timespan -exec rm File \;
find Path -perm Permission
find Path -name Regex -type Type -exec du -h File \;
chown Regex -R File
mount | tail - Quantity | sed Program
find Path -type Type -not -name Regex -mtime Timespan -exec ls File \;
finger -l | grep Regex | tr -s Regex | cut -d Regex -f Number | sort | uniq
split -d -l Quantity File Regex
find Path -type Type -print0
find Path -type Type -name Regex -atime Timespan -user Regex
find Path -type Type -name Regex
find Path -name Regex -print
find Path -name Regex -print0
find Path -daystart -mtime Timespan
find Path -type Type -perm Permission -print
find Path -maxdepth Quantity -name Regex -type Type -print0 | xargs -0 -r -I ReservedWord mv -t Directory ReservedWord
find Path -group Regex
column -s Regex -t
find Path
find Path -type Type -print0 | xargs -0 -I ReservedWord grep Regex ReservedWord
df -k File
diff -u Quantity File | grep -E Regex
find Path -type Type -atime Timespan
find Path -user Regex -iname Regex
find Path -type Type -exec split -l Quantity File Regex \;
find Path -path Regex -prune -or -name Regex -type Type -print
find Path -type Type -name Regex
find Path -type Type -name Regex -exec grep -l Regex File \;
find Path -name Regex
find Path -name Regex
ping Regex -n Regex | grep Regex | awk Program | sed Program
chmod Permission File
awk Program Program | xargs -I ReservedWord dig Regex ReservedWord
hostname -i | cut -d Regex -f Number
find Path -newer File
find Path -type Type -exec rm -r -f File \;
find Path -perm Permission
find Path -name Regex -delete
find Path -iname Regex
find Path -name Regex | sort | xargs -I ReservedWord head -n Quantity ReservedWord
cat File
rm -f File
find Path -name Regex
ln -s File $(basename Regex)
find Path -type Type -name Regex -newermt Regex ! -newermt Regex -ls
find Path -type Type -name Regex -exec grep -l Regex File \;
df -k File | tail - Quantity | awk Program
mkdir Directory
find Path -type Type | xargs | wc -c
find Path -name Regex -printf Format | sort -t Regex -k Number
yes | mv File
env | grep Regex | awk Program
find Path -type Type -name Regex -exec rm -f File \;
find Path -perm Permission
join -t Regex File File | join -t Regex File File | join -t Regex File File
crontab -l | awk Program
yes Regex | head - Quantity | nl | sort -R | cut -f Number | head - Quantity
find Path -daystart -ctime Timespan -ls -type Type
crontab -u Regex -l | sed Program | crontab -u Regex File
ssh -R Regex Regex
find Path -name Regex
find Path -name Regex -prune -or -name Regex -print
xargs -n Quantity -I Regex find Path $(pwd) -type Type -inum Quantity -delete
mkdir -p Directory
find Path -mindepth Quantity -name Regex
pushd $(whoami)
sed -f File Program
find Path -name Regex -exec du -k File \; | awk Program
find Path -name Regex -print
shopt -s Option
find Path -user Regex
find Path -name Regex -ok rm File \;
find Path \( -name Regex -prune -or -name Regex \) -print
find Path -type Type | sed -e Program | awk Program | xargs -I ReservedWord chgrp ReservedWord
read
find Path ! -name Regex -type Type
find Path -mmin Quantity
find Path -name Regex \( -exec echo Regex \; -or -exec true \; \) -exec grep Regex File \;
sed Program File | tee File
find Path \( -name Regex -or -name Regex \) -and -ctime Timespan -exec ln File Regex \;
find Path -iname Regex -type Type -exec sed Program -i Regex File \; -exec rm File \;
echo Regex | tee >(tr Regex Regex) | tr Regex Regex
find Path -type Type -exec find Path -type Type -delete \;
cat File | awk Program | sort | uniq | xargs -i -I ReservedWord grep Regex File ReservedWord
dig Regex -x Regex | sed Program
chown -R Regex File
find Path -name Regex -exec rename Regex Regex +
find Path -name Regex -exec grep -l Regex File \;
find Path -type Type -exec ls -1 File \;
find Path -type Type -iname Regex -print0 | xargs -r -0 -I ReservedWord du -a ReservedWord | awk Program
sort File File File | uniq -u
find Path -name Regex -exec grep Regex File \;
find Path -type Type -exec echo Regex \;
find Path -version
top -b -d Timespan | grep Regex | tee File
cd $(find Path -name Regex | xargs -I ReservedWord dirname ReservedWord)
find Path -name Regex
ls -t -Q | tail -n Quantity | xargs -I ReservedWord rm ReservedWord
find Path -type Type -print0 | xargs -r -0 -I ReservedWord grep -F Regex ReservedWord
find Path -maxdepth Quantity -not -iname Regex
find Path -name Regex -exec rm File \;
find -type Type Path Path Path Path Path
chmod Permission File
find Path -name Regex -prune
find Path -name Regex
find Path -type Type -mtime Timespan -exec ln -s File Regex \;
find Path $(pwd) -name Regex -exec echo $(dirname Regex) \;
find Path | xargs
find Path -name Regex -exec chmod Permission File \;
set -o Option -o Option
find Path -name Regex
find Path -mtime Timespan -mtime Timespan | head
nl
find Path ! -newer File -print
find Path -type Type | xargs -I ReservedWord ls -l -d ReservedWord
tail -n Quantity File | split -l Quantity File Regex
find Path -path Regex -print
mkdir -p Directory
dirname $(echo Regex | sed -e Program)
find Path -name Regex -exec rm File \;
find Path \( -name Regex -or -name Regex -or -name Regex \) -exec rm File \;
gunzip -c Regex | tar -x -v -f File
find Path -type Type -perm Permission | sed Program
read -t Quantity
who | grep -i Regex | cut -c Number
seq Number | awk Program
dig Regex Regex Type
find Path -type Type -ls
paste <(paste -d Regex File File) File
ls | xargs -I ReservedWord chown -R Regex ReservedWord
find Path -empty
find Path -newer File
echo -n Regex | md5sum File | awk Program
find Path -type Type | xargs -I ReservedWord grep Regex ReservedWord
groups Regex | tr Regex Regex | grep -E -v Regex
find Path -mtime Timespan -print
tree --help | head -n Quantity
find Path -type Type -wholename Regex -exec grep -H Regex File \;
mv File File
find Path -name Regex -type Type -print0 | xargs -0 -I ReservedWord rm -f ReservedWord
watch echo -e Regex
find Path -name Regex
find Path -name Regex -exec grep -n -f File Regex \;
cat <(crontab -l) <(echo Regex) | crontab File
df -h | awk Program
find Path -type Type -exec chmod Permission File \; -or -type Type -exec chmod Permission File \;
find Path -size Size
find Path -type Type -mindepth Quantity
find Path -type Type -name Regex -prune
find Path -type Type ! -name Regex -exec cp File File \;
find Path -type Type -iname Regex
find Path \( ! -regex Regex \) -type Type -print0 | xargs -0 -I ReservedWord sed -i Program ReservedWord
df -H
find Path -maxdepth Quantity -name Regex
find Path -newer File
split -a Quantity -d -l Quantity File Regex
pwd | grep -o Regex
rsync --iconv=Option File File
cat File | xargs -i -I ReservedWord dig -x Regex Regex ReservedWord
find Path ! -perm Permission
find Path -size Size -print
chown Regex File
column -t File
find Path -name Regex
find Path -name Regex -not -path Regex
find Path -type Type -not -path Regex
find Path -name Regex | xargs -I ReservedWord rm ReservedWord
find Path -perm Permission
find Path | xargs -I ReservedWord grep -P -L Regex ReservedWord | xargs -I ReservedWord grep -P -l Regex ReservedWord
find Path -iname Regex
find Path -path Regex -print
find Path -name Regex | tail - Quantity | xargs -I ReservedWord rm ReservedWord
find Path -name Regex
find Path Path -size Size -atime Timespan -print
who File Regex | awk Program
find Path -name Regex -prune -or -depth Path -print
ping Regex | awk -F Regex Program
find Path -name Regex -exec vim File +
find Path -name Regex -print
find Path Path -name Regex
find Path -perm Permission
find Path -name Regex
find Path -type Type
find Path -type Type -size Size -not -iname Regex
find Path -maxdepth Quantity -type Type -print0
ssh Regex command
sed Program
find Path -type Type -name Regex -exec grep -H Regex File +
find Path -type Type -name Regex
find Path -type Type -not -name Regex -or -not -name Regex | xargs -I ReservedWord rm ReservedWord
find Path -type Type -name Regex
find Path -name Regex
cd $(dirname $(which Regex))
find Path -inum Quantity -exec mv File File \;
find Path -name Regex | xargs -I ReservedWord cp -a -v --target-directory=Directory --parents ReservedWord
find Path -name Regex | xargs -I ReservedWord grep -E Regex ReservedWord
find Path -type Type -exec mv -v File File \;
find Path -name Regex
set Regex
find Path -type Type Path -exec file File \; | grep -w -E Regex
sort File File | uniq
find Path -not -path Regex -not -name Regex | grep Regex
su Regex
find Path -daystart -type Type -mtime Timespan
mkdir Directory
find Path -type Type -name Regex | awk Program | bash
find Path -mount -name Regex
find Path -name Regex -exec cat File \;
find Path ! -user Regex -print0 | xargs -0
find Path -size Size
tr Regex Regex
basename Regex
zcat Regex
find Path -mtime Timespan
read -s Regex
mktemp -d
find Path -depth -print | cpio -p -v -d Regex
find Path $(pwd -P) -mtime Timespan -not \( -name Regex -or -regex Regex -or -regex Regex \)
chown --reference=File Regex
find Path -name Regex -print -exec cat File +
find Path -type Type
find Path -type Type -name Regex
find Path -type Type -print | xargs -I ReservedWord grep Regex ReservedWord
find Path -mmin Quantity
find Path -type Type -name Regex -print0 | xargs -0 -I ReservedWord echo Regex Regex Regex ReservedWord
fold -w Quantity File | sed -e Program -e Program
rsync -a --relative File File
env | grep Regex | grep -o -e Regex
find Path -type Type -iwholename Regex -exec grep -H Regex File \;
yes | sed -n Program
find Path | xargs -I ReservedWord sed -i Program ReservedWord
find Path
find Path -type Type -name Regex
find Path -name Regex -prune
$(echo Regex | md5sum)
read -t Quantity -n Quantity -p Regex Regex
du -a File | sort -n -r | head -n Quantity
echo Regex | od -A Option -v -t Type | tr -d Regex
find Path -type Type -print0 | tr -d -c Regex | wc -c
od -t Type -N File File | cut -c Number | grep -E -m Quantity -q Regex
find Path -group Regex -exec chgrp -h Regex File \;
ln -s File Regex
find Path -type Type -size Size -print | xargs -I ReservedWord rmdir ReservedWord
find Path -type Type
join -j Regex File File
find Path -atime Timespan
cat File | grep -v Regex | ssh -t Regex command
find Path -group Regex -iname Regex
chown -R Regex File
grep -r -l Regex File | tr Regex Regex | xargs -r -0 -I ReservedWord file ReservedWord | grep -e Regex | grep -v -e Regex
find Path ! -name Regex -prune -name Regex -exec mv File File \;
history | awk Program | awk Program | sort | uniq -c | sort -n -r | head
chown -R Regex File
zcat Regex | awk Program | head
find Path -name Regex
find Path -type Type -not -path Regex -exec cp File File \;
source $(dirname Regex)
find Path -type Type -name Regex
find Path -type Type -name Regex -exec ls -l File \;
df -i -h
mount Regex Regex
find Path -name Regex
echo $(clear)
find Path -name Regex
find Path -name Regex -exec grep -H Regex File +
history | head -n Quantity | tail -n Quantity
yes | awk Program | more
find Path -name Regex
which Regex | xargs -I ReservedWord ls -l ReservedWord
find Path -cmin Quantity
cat File | grep -o
finger | awk -F Regex -v Program Program | sed Program
find Path -type Type -mtime Timespan -print0
find Path -type Type -name Regex | sed Program | sed Program | xargs -I Regex cp -v File File
find Path -name Regex -ls
find Path -type Type | awk -F Regex Program | sort -k Number -n -r | awk Program | sed Program | xargs -n Quantity -I ReservedWord mv ReservedWord
split -n Quantity File
find Path -mtime Timespan
find Path -type Type -exec chmod Permission File \;
find Path -type Type -mtime Timespan | tee File | xargs -I ReservedWord compress ReservedWord
ls -d -m File | tr -d Regex
find Path -name Regex
find Path -type Type -exec split -l Quantity File \;
find Path -name Regex -type Type -exec rm -r -f File \;
nl -n Format -w Quantity -s Regex File | sed Program File
find Path -type Type -printf Format
find Path
find Path -type Type -name Regex -exec chmod Permission File \;
cal | awk Program
find Path -name Regex -print0 | xargs -0 -I ReservedWord ls ReservedWord
find Path -maxdepth Quantity -type Type -printf Format
find Path -maxdepth Quantity -type Type -exec ls -l File \; | less
find Path -type Type -size Size -exec ls -l -h File \; | awk Program
echo $(groups Regex | sed -e Program -e Program)
sleep Timespan
find Path -maxdepth Quantity -type Type -iname Regex -exec cp -r File File \;
mktemp --suffix=Regex
find Path -name Regex -print0 | xargs -0 -I ReservedWord wc -w ReservedWord | awk Program
find Path -type Type -print0
find Path -type Type -exec chmod Permission File \;
echo -e Regex | tee -a File
find Path -type Type -print0 | xargs -0 -I ReservedWord awk Program ReservedWord
find Path -name Regex ! -name Regex -print0
find Path -type Type | wc -l
find Path -type Type | grep -E -v Regex | less
find Path -type Type -exec ls -s File \; | sort -n | head - Quantity
find Path -type Type -not -regex Regex -exec  \;
find Path -type Type -print0 | xargs -0 -n Quantity -I ReservedWord echo Regex ReservedWord | sh File
find Path -iname Regex -print0 | xargs -I Regex -0 grep -i Regex File
find Path -print0
find Path | xargs -I ReservedWord grep Regex File ReservedWord | sed Program
find Path -name Regex -type Type -print | xargs -I ReservedWord rm -f ReservedWord
find Path -size Size -size Size
find Path -name Regex -type Type
find Path -maxdepth Quantity -type Type -print0 | xargs -0 -I ReservedWord ls -d ReservedWord
yes | tr Regex Regex | head -c Quantity | grep Regex
find Path -type Type -exec file -i File + | grep Regex
chmod Permission File
sort -u -t Regex -k Number File
find Path -type Type -exec cat File \; | tr -c Regex Regex | grep Regex
find Path -ctime Timespan
find Path -name Regex -print0 | xargs -0 -I ReservedWord rm ReservedWord
find Path -name Regex -type Type -exec cp File File \;
ls | grep Regex | cat -n
find Path -name Regex -exec grep -P Regex File \; -print
ssh -i File Regex
rsync -a -v --files-from=File --rsync-path=Program File File
bzip2 -k -v File
find Path -mmin Quantity -mmin Quantity
touch File
find Path -print -name Regex -prune
find Path -type Type -exec sed -i Program File \;
find Path -type Type | grep Regex
find Path -name Regex -or -name Regex -or -name Regex
find Path ! \( -name Regex -or -name Regex \)
rsync -v -u -a -r --delete-after File File
find Path -type Type -printf Format | sort -n | tail - Quantity | cut -f Number -d Regex
find Path -type Type \( -name Regex -or -name Regex \)
shred File
find Path -name Regex | xargs -I ReservedWord cat ReservedWord | wc -l
find Path -type Type -exec ls -s File \; | sort -n -r
dig Regex Regex Type
find Path -mindepth Quantity -type Type -print0
find Path -type Type -empty -exec rmdir Directory \;
find Path -mmin Quantity -mmin Quantity
find Path -size Size -size Size
find Path -name Regex | xargs -I ReservedWord rm -r -f ReservedWord
find Path -name Regex
echo Regex | rev
comm -3 File File | sed Program
find Path -iname Regex -print
find Path -type Type -mtime Timespan
find Path -type Type -regex Regex
find Path -name Regex -exec grep -H -n Regex File \;
crontab -e -u Regex
find Path -type Type -exec ls -l -d File \;
ls $(pwd)
pwd -L
find Path -name Regex
ssh Regex
sed Program File | xargs -I ReservedWord mkdir -p ReservedWord
find Path \( -path Regex -and -not -path Regex -or -path Regex \) -prune -or -type Type -print
mv File File
find Path -name Regex
chown -R Regex File
find Path -iname Regex -exec du -b File +
split --lines=Quantity --numeric-suffixes --suffix-length=Quantity File Regex
find Path -name Regex -and -name Regex -and -not -name Regex
find Path -iname Regex | xargs -I ReservedWord rm ReservedWord
find Path -name Regex -print
find | grep -E Regex
echo Regex | xargs -I ReservedWord dirname ReservedWord | xargs -I ReservedWord basename ReservedWord
find Path -type Type -exec grep Regex File \; -print
find Path ! -name Regex
find Path -name Regex | xargs -I ReservedWord tar -z -c -f File ReservedWord
cat File | nl | sed Program
find Path -name Regex -exec grep Regex File +
find Path -newer File -print
find Path -type Type -mtime Timespan -print0 | xargs -0 -I ReservedWord mv -t Directory ReservedWord
comm -1 -2 File File
fold -w Quantity File | tr Regex Regex | sed Program
find Path -type Type -name Regex -printf Format | bash
dig Regex Regex Type
find Path -name Regex
find Path ! \( -newer File -user Regex \) -print
find Path -type Type -print
find Path -type Type | grep -P Regex | sed -r -e Program | xargs -I ReservedWord rm ReservedWord
tar File File -j -c -v -f File File
rm --force File
pstree -p Regex | sed Program | grep Regex | sed Program
find Path -type Type -name Regex -print0 | xargs -0 -n Quantity -I ReservedWord sed -i Program ReservedWord
find Path -mtime Timespan | grep -v Regex | grep -v Regex | grep -v Regex
find Path -type Type \( -name Regex -or -name Regex -or -name Regex \)
find Path -name Regex -exec rm -v -f File \;
tac File | sort -k Number -r -u
find Path -name Regex
find Path -name Regex
du -c -s -x -b File | md5sum -c File
find Path -mtime Timespan -exec rm -f File \;
find Path -type Type | xargs -I ReservedWord sort -o File ReservedWord
find Path -type Type -mtime Timespan
find Path -name Regex -exec sed -i Program File \;
nl -b Option File
ls -d File | sed Program
find Path -mtime Timespan
find Path -iname Regex
ping -c Quantity Regex | tee >(split -d -b Size File Regex)
find Path -type Type -name Regex
sort --unique File | split --numeric-suffixes --lines=Quantity --suffix-length=Quantity --verbose
echo Regex | awk Program
du -h --max-depth=Quantity File | sort -h -r
find Path -name Regex | rev | cut -d Regex -f Number | rev
find Path -type Type -exec grep -l Regex File \; -exec file File \; | grep Regex
find Path -newer File
find Path -type Type -not -newermt Regex
ls -l -R File | grep -v Regex | awk Program
find Path -daystart -atime Timespan -ls
find Path -name Regex -printf Format
od -t Type --skip-bytes=Size --read-bytes=Size File | head - Quantity | awk Program
find Path -mindepth Quantity -type Type -exec mv File File \;
echo Regex | tr Regex Regex | grep Regex -q
find Path -mtime Timespan
rsync -a --rsync-path=Program File File
find Path -maxdepth Quantity -name Regex -print0 | xargs -0 -I ReservedWord rm ReservedWord
find Path -type Type -perm Permission -print -exec chmod Permission File \;
cd $(dirname $(which Regex))
join -t Regex File File
wc -l File
find Path -type Type -perm Permission -print
find Path ! -name Regex -exec compress -f File \;
paste -s -d Regex
find Path -name Regex | grep -v Regex
find Path -perm Permission
find Path -name Regex -type Type -printf Format | xargs -I ReservedWord rm -f ReservedWord
find Path -type Type -name Regex -exec ls -l File \;
gzip -d -c Regex | tar -x -v -v -f File
find Path -name Regex -print0 | xargs -0 -n Quantity -I ReservedWord echo ReservedWord
find Path -name Regex -print0 | xargs -0 -I ReservedWord grep Regex File ReservedWord
ifconfig
find Path -type Type -print0 | xargs -0 -I ReservedWord chmod Permission ReservedWord
head -c Quantity File | tr Regex Regex
find Path -print | xargs -I ReservedWord grep Regex ReservedWord
find Path -type Type | xargs -I ReservedWord ls -l -t -r ReservedWord | tail -n Quantity
find Path -type Type -exec ls -s File \; | sort -n -r | head - Quantity
find Path -ls
mount -o Option Regex Regex
ls -l --color=Option File | grep -E --color=Option Regex
find Path -name Regex -exec sed -i Program File +
awk -f File Program | column -t
comm -2 -3 File File
find Path -daystart -ctime Timespan
yes | nl -b Option | tr Regex Regex | sed Program | cut -b Number
find Path -type Type -size Size -not -iname Regex
find Path -type Type -mtime Timespan -exec mv -t Directory File +
find Path | xargs -I ReservedWord md5sum ReservedWord
find Path -type Type ! -name Regex ! -name Regex -print | tee -a File
find Path -name Regex -exec grep -H Regex File \;
